@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* We use the hex code here as a fallback to prevent the build from breaking */
    background-color: #F5F2F0; 
    @apply text-stone-900 antialiased;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}